@charset "UTF-8";
/*------------------------------------BODY------------------------------------*/
body {
  background-image: url(../img/bg_pc.webp);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: "Noto Sans", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
}
@media screen and (max-width: 1200px) {
  body {
    background-image: url(../img/bg_sp.png);
    background-position: center;
  }
}

.main-visual p {
  width: 600px;
  height: auto;
  margin: 120px auto;
}
@media screen and (max-width: 1200px) {
  .main-visual p {
    margin: 250px auto 80px;
    width: 70%;
    max-width: 500px;
  }
}

/*-----------スクロールを促すアニメーション----------*/
/*スクロールダウン全体の場所*/
.scroll {
  height: 150px;
}

.scrolldown1 {
  /*描画位置※位置は適宜調整してください*/
  position: absolute;
  left: 50%;
  /*全体の高さ*/
  height: 150px;
}

/*Scrollテキストの描写*/
.scrolldown1 span {
  /*描画位置*/
  position: absolute;
  margin: 0 auto;
  left: -31px;
  top: -15px;
  /*テキストの形状*/
  color: #000;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  text-shadow: 2px 2px 3px #fff;
}

/* 線の描写 */
.scrolldown1::after {
  content: "";
  /*描画位置*/
  position: absolute;
  top: 0;
  margin-top: 30px;
  /*線の形状*/
  width: 2px;
  height: 30px;
  background: #000;
  /*線の動き1.4秒かけて動く。永遠にループ*/
  animation: pathmove 1.4s ease-in-out infinite;
  opacity: 0;
}

/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 30px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 50px;
    opacity: 0;
  }
}
/*------------------------------------HRADR------------------------------------*/
header {
  position: relative;
  top: -100px;
  width: 100%;
  height: 85px;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  z-index: 999;
}
header .gnav_list {
  margin: 0 auto;
  width: 65%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .gnav_list li {
  font-size: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "sans-serif";
}
header .gnav_list li:nth-of-type(1) a {
  font-family: "Noto Sans", sans-serif;
  display: block;
  padding: 0 30px 0 30px;
  width: 100%;
  height: 100%;
}
header .gnav_list li:nth-of-type(1) a::after {
  content: "";
  display: block;
  width: calc(100% + 60px);
  height: 10px;
  border-radius: 5px;
  margin-top: 15px;
  transform: translateX(-30px);
  background-color: #C53B70;
}
header .gnav_list li:nth-of-type(2) a {
  font-family: "Noto Sans", sans-serif;
  display: block;
  padding: 0 30px 0 30px;
  width: 100%;
  height: 100%;
}
header .gnav_list li:nth-of-type(2) a::after {
  content: "";
  display: block;
  width: calc(100% + 60px);
  height: 10px;
  border-radius: 5px;
  margin-top: 12px;
  transform: translateX(-30px);
  background-color: #348439;
}
header .gnav_list li:nth-of-type(3) a {
  font-family: "Noto Sans", sans-serif;
  display: block;
  padding: 0 30px 0 30px;
  width: 100%;
  height: 100%;
}
header .gnav_list li:nth-of-type(3) a::after {
  content: "";
  display: block;
  width: calc(100% + 60px);
  height: 10px;
  border-radius: 5px;
  margin-top: 12px;
  transform: translateX(-30px);
  background-color: #FAC000;
}

/*------------------------------------MAIN------------------------------------*/
.wrapper {
  width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .wrapper {
    width: 100%;
    margin: 0 auto;
  }
}
.wrapper section {
  margin-top: 250px;
  /*------------------------------------ABOUT------------------------------------*/
  /*------------------------------------NEWS------------------------------------*/
  /*------------------------------------CONTEST------------------------------------*/
  /*------------------------------------MAP------------------------------------*/
}
@media screen and (max-width: 1200px) {
  .wrapper section {
    margin-top: 200px;
  }
}
.wrapper section h1 {
  position: relative;
  width: 260px;
  height: 80px;
  font-size: 22px;
  text-align: center;
  line-height: 80px;
  margin: 0 auto 70px;
  background-color: #C53B70;
  color: #fff;
  z-index: 1;
  transform: translateY(-40px);
}
@media screen and (max-width: 1200px) {
  .wrapper section h1 {
    width: 180px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto 50px;
  }
}
.wrapper section h1::after {
  position: absolute;
  bottom: -40px;
  right: -55px;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../img/heading_back_p.webp);
  background-size: 10%;
  z-index: -1;
}
@media screen and (max-width: 1200px) {
  .wrapper section h1::after {
    bottom: -30px;
    right: -25px;
    width: 95%;
    height: 70%;
  }
}
.wrapper section .about {
  width: 90%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
  border: #C53B70 3px solid;
}
.wrapper section .about__area {
  width: 90%;
  margin: 0 auto;
  display: flex;
  padding-bottom: 120px;
}
@media screen and (max-width: 1200px) {
  .wrapper section .about__area {
    display: block;
    padding-bottom: 80px;
  }
}
.wrapper section .about__area .cap {
  width: 35%;
  font-size: 18px;
  line-height: 1.8em;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .wrapper section .about__area .cap {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 100px;
  }
}
.wrapper section .about__area .cap h2 {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 20px;
}
@media screen and (max-width: 1200px) {
  .wrapper section .about__area .cap h2 {
    text-align: center;
  }
}
.wrapper section .about__area .greet {
  overflow: auto;
  width: 50%;
  margin-left: 15%;
  height: 350px;
}
.wrapper section .about__area .greet::-webkit-scrollbar {
  width: 10px;
  background: #848484;
  border-radius: 20px;
}
.wrapper section .about__area .greet::-webkit-scrollbar-thumb {
  background: #D9D9D9;
  border-radius: 20px;
}
@media screen and (max-width: 1200px) {
  .wrapper section .about__area .greet {
    width: 90%;
    margin: 0 auto;
  }
}
.wrapper section .about__area .greet h2 {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 20px;
}
@media screen and (max-width: 1200px) {
  .wrapper section .about__area .greet h2 {
    text-align: center;
  }
}
.wrapper section .about__area .greet p {
  width: 100%;
  margin: 0 auto 50px;
  font-size: 18px;
  line-height: 1.8em;
}
.wrapper section .about__area .greet em {
  font-size: 20px;
}
.wrapper section .about__area .greet span {
  font-size: 21px;
  display: block;
  text-align: right;
}
.wrapper section .news {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 120px;
  background-color: rgba(255, 255, 255, 0.5);
  border: #1C96D4 3px solid;
}
@media screen and (max-width: 1200px) {
  .wrapper section .news {
    padding-bottom: 80px;
  }
}
.wrapper section .news h1 {
  background-color: #1C96D4;
}
.wrapper section .news h1::after {
  background-image: url(../img/heading_back_b.webp);
}
.wrapper section .news__area {
  width: 70%;
  margin: 0 auto;
  border-top: #000 1px solid;
}
.wrapper section .news__area dl {
  display: flex;
  padding: 30px 0;
  border-bottom: #000 1px solid;
}
@media screen and (max-width: 1200px) {
  .wrapper section .news__area dl {
    margin: 0 auto;
    font-size: 12px;
  }
}
.wrapper section .news__area dl dt {
  margin-left: 20px;
  margin-right: 10px;
}
@media screen and (max-width: 1200px) {
  .wrapper section .news__area dl dt {
    margin-left: 0;
  }
}
.wrapper section .contest {
  width: 90%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
  border: #FAC000 3px solid;
  padding-bottom: 120px;
}
@media screen and (max-width: 1200px) {
  .wrapper section .contest {
    padding-bottom: 80px;
  }
}
.wrapper section .contest h1 {
  background-color: #FAC000;
}
.wrapper section .contest h1::after {
  background-image: url(../img/heading_back_y.webp);
}
.wrapper section .contest__art {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 1200px) {
  .wrapper section .contest__art {
    display: block;
  }
}
.wrapper section .contest__art article {
  position: relative;
  background-color: #fff;
  width: 31%;
  height: 700px;
}
@media screen and (max-width: 1200px) {
  .wrapper section .contest__art article {
    width: 95%;
    height: auto;
    padding-bottom: 10px;
    margin: 50px auto 0;
  }
}
.wrapper section .contest__art .yellow {
  box-shadow: 5px 5px 15px #FAC000;
}
.wrapper section .contest__art .yellow a {
  background-color: #FAC000;
}
.wrapper section .contest__art .blue {
  box-shadow: 5px 5px 15px #1C96D4;
}
.wrapper section .contest__art .blue a {
  background-color: #1C96D4;
}
.wrapper section .contest__art .red {
  box-shadow: 5px 5px 15px #C53B70;
}
.wrapper section .contest__art .red a {
  background-color: #C53B70;
}
.wrapper section .contest__art h2 {
  height: 150px;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .wrapper section .contest__art h2 {
    height: 100px;
  }
}
.wrapper section .contest__art p {
  display: block;
  width: 95%;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .wrapper section .contest__art p:nth-of-type(1) {
    text-align: center;
  }
}
.wrapper section .contest__art p:nth-of-type(2) {
  margin-top: 20px;
  font-size: 14px;
}
@media screen and (max-width: 1200px) {
  .wrapper section .contest__art p:nth-of-type(2) {
    width: 90%;
  }
}
.wrapper section .contest__art p:nth-of-type(3) {
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: 70px;
  font-size: 18px;
  transform: translateX(10px);
}
@media screen and (max-width: 1200px) {
  .wrapper section .contest__art p:nth-of-type(3) {
    position: static;
    margin: 50px auto;
    transform: translateX(0);
  }
}
.wrapper section .contest__art p:nth-of-type(3) a {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
@media screen and (max-width: 1200px) {
  .wrapper section .contest__art p:nth-of-type(3) a {
    width: 200px;
  }
}
.wrapper section .schedule {
  width: 90%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
  border: #348439 3px solid;
  padding-bottom: 120px;
}
@media screen and (max-width: 1200px) {
  .wrapper section .schedule {
    padding-bottom: 80px;
  }
}
.wrapper section .schedule h1 {
  background-color: #348439;
}
.wrapper section .schedule h1::after {
  background-image: url(../img/heading_back_g.webp);
}
.wrapper section .schedule .time {
  text-align: center;
}
.wrapper section .schedule .time img {
  width: 800px;
  transform: translateX(10px);
}
.wrapper section .schedule .map__link {
  margin-top: 100px;
  color: #fff;
  text-align: center;
  bottom: 70px;
  font-size: 18px;
  transform: translateX(10px);
}
@media screen and (max-width: 1200px) {
  .wrapper section .schedule .map__link {
    transform: translateX(0);
    margin-top: 60px;
  }
}
.wrapper section .schedule .map__link a {
  background-color: #348439;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

/*------------------------------------SPONSOR------------------------------------*/
.sponsor {
  width: 90%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
  border: #C53B70 3px solid;
  padding-bottom: 120px;
}
@media screen and (max-width: 1200px) {
  .sponsor {
    padding-bottom: 80px;
  }
}
.sponsor .spnseor__area {
  display: grid;
  padding: 40px;
  font-family: "BaseFont", sans-serif;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
}
@media screen and (max-width: 1200px) {
  .sponsor .spnseor__area {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}
@media screen and (max-width: 500px) {
  .sponsor .spnseor__area {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
  }
}
.sponsor .spnseor__area img {
  height: 100%;
  width: 100%;
}
.sponsor .spnseor__area .item01 {
  grid-column: 1/3;
  grid-row: inherit;
}
@media screen and (max-width: 500px) {
  .sponsor .spnseor__area .item01 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
}
.sponsor .spnseor__area .item02 {
  grid-column: 3/5;
  grid-row: inherit;
}
@media screen and (max-width: 1200px) {
  .sponsor .spnseor__area .item02 {
    grid-column: 1/3;
    grid-row: 2/3;
  }
}
@media screen and (max-width: 500px) {
  .sponsor .spnseor__area .item02 {
    grid-column: 1/3;
    grid-row: 2/3;
  }
}
.sponsor .spnseor__area .item03 {
  grid-column: 5/6;
  grid-row: inherit;
}
@media screen and (max-width: 1200px) {
  .sponsor .spnseor__area .item03 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
}
@media screen and (max-width: 500px) {
  .sponsor .spnseor__area .item03 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
.sponsor .spnseor__area .item04 {
  grid-column: 1/2;
  grid-row: inherit;
}
@media screen and (max-width: 1200px) {
  .sponsor .spnseor__area .item04 {
    grid-column: 3/4;
    grid-row: 2/3;
  }
}
@media screen and (max-width: 500px) {
  .sponsor .spnseor__area .item04 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}
.sponsor .spnseor__area .item05 {
  grid-column: 2/3;
  grid-row: inherit;
}
@media screen and (max-width: 1200px) {
  .sponsor .spnseor__area .item05 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
@media screen and (max-width: 500px) {
  .sponsor .spnseor__area .item05 {
    grid-column: 1/2;
    grid-row: 5/6;
  }
}
.sponsor .spnseor__area .item06 {
  grid-column: 3/5;
  grid-row: inherit;
}
@media screen and (max-width: 1200px) {
  .sponsor .spnseor__area .item06 {
    grid-column: 2/4;
    grid-row: 3/4;
  }
}
@media screen and (max-width: 500px) {
  .sponsor .spnseor__area .item06 {
    grid-column: 1/3;
    grid-row: 4/5;
  }
}
.sponsor .spnseor__area .item07 {
  grid-row: inherit;
}
@media screen and (max-width: 1200px) {
  .sponsor .spnseor__area .item07 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
}
@media screen and (max-width: 500px) {
  .sponsor .spnseor__area .item07 {
    grid-column: 1/2;
    grid-row: 5/6;
  }
}
.sponsor .spnseor__area .item08 {
  grid-column: 1/3;
  grid-row: inherit;
}
@media screen and (max-width: 1200px) {
  .sponsor .spnseor__area .item08 {
    grid-column: 2/4;
    grid-row: 4/5;
  }
}
@media screen and (max-width: 500px) {
  .sponsor .spnseor__area .item08 {
    grid-column: 1/3;
    grid-row: 6/7;
  }
}
.sponsor .spnseor__area .item09 {
  grid-column: 3/5;
  grid-row: inherit;
}
@media screen and (max-width: 1200px) {
  .sponsor .spnseor__area .item09 {
    grid-column: 2/4;
    grid-row: 5/6;
  }
}
@media screen and (max-width: 500px) {
  .sponsor .spnseor__area .item09 {
    grid-column: 1/3;
    grid-row: 7/8;
  }
}
.sponsor .spnseor__area .item010 {
  grid-column: 5/6;
  grid-row: inherit;
}
@media screen and (max-width: 1200px) {
  .sponsor .spnseor__area .item010 {
    grid-column: 3/4;
    grid-row: 5/6;
  }
}
@media screen and (max-width: 500px) {
  .sponsor .spnseor__area .item010 {
    grid-column: 2/3;
    grid-row: 5/6;
  }
}

/*------------------------------------FOOTER------------------------------------*/
footer {
  width: 100%;
  height: 112px;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #525252;
}
footer p {
  text-align: center;
  font-size: 13px;
  color: #fff;
  line-height: 24px;
  font-family: "Noto Sans", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
}

/*---------------------------------MENU ANIMETION---------------------------------*/
.menuAnime {
  animation-name: fadeInAnime;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}
@media screen and (max-width: 1200px) {
  .menuAnime {
    display: none;
  }
}

.menuBackAnime {
  animation-name: fadeOutAnime;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}
@media screen and (max-width: 1200px) {
  .menuBackAnime {
    display: none;
  }
}

@keyframes fadeInAnime {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(100px);
  }
}
@keyframes fadeOutAnime {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
  }
}
/*---------------BACKGROUND OPACITY-------------------*/
.bgLight {
  animation-name: bgAnime;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  background-color: rgba(255, 255, 255, 0.5);
}

.bgOrigin {
  animation-name: bgAnimeReverse;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

@keyframes bgAnime {
  0% {
    background-color: rgba(255, 255, 255, 0);
    background-blend-mode: normal;
  }
  100% {
    background-color: rgba(255, 255, 255, 0.7);
    background-blend-mode: lighten;
  }
}
@keyframes bgAnimeReverse {
  0% {
    background-color: rgba(255, 255, 255, 0.7);
    background-blend-mode: lighten;
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
    background-blend-mode: normal;
  }
}
/*# sourceMappingURL=style.css.map */