body {
  background-image: url(../img/bg_pc.webp);
  background-attachment: fixed;
  background-size: 100%;
  font-family: "Noto Sans", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
}

.main-visual p {
  width: 600px;
  height: auto;
  margin: 150px auto;
}

/*------------------------------------HRADR------------------------------------*/
header {
  position: relative;
  top: 0;
  transform: translateY(-100px);
  width: 100%;
  height: 85px;
  background-color: rgba(200, 200, 200, 0.8);
  position: fixed;
  z-index: 999;
}
header .gnav_list {
  margin: 0 auto;
  width: 65%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .gnav_list li {
  font-size: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "sans-serif";
}
header .gnav_list li::after {
  content: "";
  display: block;
  width: calc(100% + 60px);
  height: 10px;
  border-radius: 6px;
  margin-top: 15px;
}
header .gnav_list li:nth-of-type(1)::after {
  background-color: #C53B70;
}
header .gnav_list li:nth-of-type(2)::after {
  background-color: #348439;
}
header .gnav_list li:nth-of-type(3)::after {
  background-color: #FAC000;
}
header .gnav_list li a {
  font-family: "Noto Sans", sans-serif;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}
.wrapper section {
  margin-top: 250px;
  /*------------------------------------ABOUT------------------------------------*/
  /*------------------------------------NEWS------------------------------------*/
  /*------------------------------------CONTEST------------------------------------*/
  /*------------------------------------MAP------------------------------------*/
}
.wrapper section h1 {
  position: relative;
  width: 260px;
  height: 80px;
  font-size: 22px;
  text-align: center;
  line-height: 80px;
  margin: 0 auto 70px;
  background-color: #C53B70;
  color: #fff;
  z-index: 1;
  transform: translateY(-40px);
}
.wrapper section h1::after {
  position: absolute;
  bottom: -40px;
  right: -55px;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../img/heading_back_p.webp);
  z-index: -1;
}
.wrapper section .about {
  width: 90%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
  border: #C53B70 3px solid;
}
.wrapper section .about p {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 120px;
}
.wrapper section .news {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 120px;
  background-color: rgba(255, 255, 255, 0.5);
  border: #1C96D4 3px solid;
}
.wrapper section .news h1 {
  background-color: #1C96D4;
}
.wrapper section .news h1::after {
  background-image: url(../img/heading_back_b.webp);
}
.wrapper section .news__area {
  width: 900px;
  margin: 0 auto;
  border-top: #000 1px solid;
}
.wrapper section .news__area dl {
  display: flex;
  padding: 30px 0;
  border-bottom: #000 1px solid;
}
.wrapper section .contest {
  width: 90%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
  border: #FAC000 3px solid;
  padding-bottom: 120px;
}
.wrapper section .contest h1 {
  background-color: #FAC000;
}
.wrapper section .contest h1::after {
  background-image: url(../img/heading_back_y.webp);
}
.wrapper section .contest__art {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.wrapper section .contest__art h2 {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  padding: 74px 0;
}
.wrapper section .contest__art article {
  background-color: #fff;
  width: 375px;
  height: 710px;
  box-shadow: 5px 5px 15px #FAC000;
}
.wrapper section .schedule {
  width: 90%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
  border: #348439 3px solid;
  padding-bottom: 120px;
}
.wrapper section .schedule h1 {
  background-color: #348439;
}
.wrapper section .schedule h1::after {
  background-image: url(../img/heading_back_g.webp);
}
.wrapper section .schedule .time {
  text-align: center;
}
.wrapper section .schedule .time img {
  width: 800px;
}

/*------------------------------------SPONSOR------------------------------------*/
.sponsor {
  width: 90%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
  border: #C53B70 3px solid;
  padding-bottom: 120px;
}
.sponsor div {
  padding: 0 120px;
  display: flex;
}
.sponsor img {
  max-height: 280px;
  padding: 0 3px;
}

/*------------------------------------FOOTER------------------------------------*/
footer {
  width: 100%;
  height: 112px;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #525252;
}
footer p {
  text-align: center;
  font-size: 13px;
  color: #fff;
  line-height: 24px;
  font-family: "Noto Sans", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
}/*# sourceMappingURL=style.css.map */




/*---------------------------------MENU ANIMETION---------------------------------*/

.menuAnime{
  animation-name: fadeInAnime;
  animation-duration: .8s;
  animation-fill-mode: forwards;/*アニメーション終了時の状態*/
}
.menuBackAnime{
  animation-name: fadeOutAnime;
  animation-duration: .8s;
  animation-fill-mode: forwards;/*アニメーション終了時の状態*/
}

@keyframes fadeInAnime {
  0%{
    transform: translateY(-100px);
    }
  
  100%{
    transform: translateY(0px);
    }
  }

  @keyframes fadeOutAnime {
    0%{
      transform: translateY(0px);
      }
    
    100%{
      transform: translateY(-100px);
      }
    }