$red:#C53B70;
$blue:#1C96D4;
$yellow:#FAC000;
$green:#348439;

body {
    background-image: url(../img/bg_pc.webp);
    background-attachment: fixed;
    background-size: 100%;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
}

.main-visual {
    p {
        width: 600px;
        height: auto;
        margin: 150px auto;
    }
}

/*------------------------------------HRADR------------------------------------*/
header {
    position: relative;
    top: -100px;
    width: 100%;
    height: 85px;
    background-color: rgb(255, 255, 255, 0.8);
    position: fixed;
    z-index: 999;

    .gnav {
        &_list {
            margin: 0 auto;
            width: 65%;
            height: 75px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            li {
                font-size: 21px;
                display: flex;
                flex-direction: column;
                align-items: center;
                font-family: "sans-serif" ;
                &:nth-of-type(1) {
                    a {
                        font-family: 'Noto Sans', sans-serif;
                        display: block;
                        padding: 0 30px 0 30px;
                        width: 100%;
                        height: 100%;
                        &::after {
                            content: '';
                            display: block;
                            width: calc(100% + 60px);
                            height: 10px;
                            border-radius: 5px;
                            margin-top: 15px;
                            transform: translateX(-30px);
                            background-color: #D31176;
                        }
                    }
                }
                &:nth-of-type(2) {
                    a {
                        font-family: 'Noto Sans', sans-serif;
                        display: block;
                        padding: 0 30px 0 30px;
                        width: 100%;
                        height: 100%;
                        &::after {
                            content: '';
                            display: block;
                            width: calc(100% + 60px);
                            height: 10px;
                            border-radius: 5px;
                            margin-top: 12px;
                            transform: translateX(-30px);
                            background-color: #348439;
                        }
                    }
                }
                &:nth-of-type(3) {
                    a {
                        font-family: 'Noto Sans', sans-serif;
                        display: block;
                        padding: 0 30px 0 30px;
                        width: 100%;
                        height: 100%;
                        &::after {
                            content: '';
                            display: block;
                            width: calc(100% + 60px);
                            height: 10px;
                            border-radius: 5px;
                            margin-top: 12px;
                            transform: translateX(-30px);
                            background-color: #E6B425;
                        }
                    }
                }
            }
        }
    }
}


.wrapper {
    width: 100%;
    margin: 0 auto;

    section {
        margin-top: 250px;

        h1 {
            position: relative;
            width: 260px;
            height: 80px;
            font-size: 22px;
            text-align: center;
            line-height: 80px;
            margin: 0 auto 70px;
            background-color: $red;
            color: #fff;
            z-index: 1;
            transform: translateY(-40px);

            &::after {
                position: absolute;
                bottom: -40px;
                right: -55px;
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                background-image: url(../img/heading_back_p.webp);
                z-index: -1;
            }
        }


        /*------------------------------------ABOUT------------------------------------*/
        .about {
            width: 90%;
            margin: 0 auto;
            background-color: rgb(255, 255, 255, 0.5);
            border: $red 3px solid;

            p {
                width: 90%;
                margin: 0 auto;
                margin-bottom: 120px;
            }
        }

        /*------------------------------------NEWS------------------------------------*/
        .news {
            width: 90%;
            margin: 0 auto;
            padding-bottom: 120px;
            background-color: rgb(255, 255, 255, 0.5);
            border: #1C96D4 3px solid;
            // box-shadow: 2px 5px 15px #1C96D4;


            h1 {
                background-color: $blue;
                // transform: translateY(-40px);

                &::after {
                    background-image: url(../img/heading_back_b.webp);
                }
            }

            &__area {
                width: 900px;
                margin: 0 auto;
                border-top: #000 1px solid;

                dl {
                    display: flex;
                    padding: 30px 0;
                    border-bottom: #000 1px solid;
                }
            }
        }

        /*------------------------------------CONTEST------------------------------------*/
        .contest {
            width: 90%;
            margin: 0 auto;
            background-color: rgb(255, 255, 255, 0.5);
            border: $yellow 3px solid;
            padding-bottom: 120px;

            h1 {
                background-color: $yellow;

                &::after {
                    background-image: url(../img/heading_back_y.webp);
                }
            }

            &__art {
                width: 95%;
                margin: 0 auto;
                display: flex;
                justify-content: space-around;

                h2 {
                    font-size: 21px;
                    font-weight: bold;
                    text-align: center;
                    padding: 74px 0;
                    // &:nth-of-type(2) {
                    //     padding: 40px 0;
                    // }
                }

                article {
                    background-color: #fff;
                    width: 375px;
                    height: 710px;
                    box-shadow: 5px 5px 15px $yellow;
                }
            }
        }

        /*------------------------------------MAP------------------------------------*/
        .schedule {
            width: 90%;
            margin: 0 auto;
            background-color: rgb(255, 255, 255, 0.5);
            border: $green 3px solid;
            padding-bottom: 120px;

            h1 {
                background-color: #348439;

                &::after {
                    background-image: url(../img/heading_back_g.webp);
                }
            }

            .time {
                text-align: center;

                img {
                    width: 800px;
                }
            }
        }
    }
}

/*------------------------------------SPONSOR------------------------------------*/
.sponsor {
    width: 90%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255, 0.5);
    border: $red 3px solid;
    padding-bottom: 120px;

    div {
        padding: 0 120px;
        display: flex;
    }

    img {
        max-height: 280px;
        padding: 0 3px;
    }
}

/*------------------------------------FOOTER------------------------------------*/
footer {
    width: 100%;
    height: 112px;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #525252;

    p {
        text-align: center;
        font-size: 13px;
        color: #fff;
        line-height: 24px;
        font-family: 'Noto Sans', sans-serif;
        font-family: 'Noto Sans JP', sans-serif;
    }
}

/*------------------------------------FOOTER------------------------------------*/
footer {
    width: 100%;
    height: 112px;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #525252;
}

footer p {
    text-align: center;
    font-size: 13px;
    color: #fff;
    line-height: 24px;
    font-family: "Noto Sans", sans-serif;
    font-family: "Noto Sans JP", sans-serif;
}

/*---------------------------------MENU ANIMETION---------------------------------*/
.menuAnime {
    animation-name: fadeInAnime;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

.menuBackAnime {
    animation-name: fadeOutAnime;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnime {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(100px);
    }
}

@keyframes fadeOutAnime {
    0% {
        transform: translateY(100px);
    }

    100% {
        transform: translateY(0px);
    }
}

/*# sourceMappingURL=style.css.map */