$red:#D31176;
$blue:#1C96D4;
$yellow:#FAC000;
$green:#348439;

$sp:1200;
$sp-s:500;
@mixin mq($bp){
    @media screen and (max-width: #{$bp}px){
        @content;
    }
}

/*------------------------------------BODY------------------------------------*/
body::before {
    background: url(../img/bg_pc.webp) center/cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -2;
    content: '';
    font-family: 'Noto Sans', 'Noto Sans JP',sans-serif;
    @include mq($sp) {
        background-image: url(../img/bg_sp.png);
        background-position: center;
    }
}

.main-visual {
    p {
        width: 600px;
        height: auto;
        margin: 120px auto;
        @include mq($sp) {
            margin: 250px auto 80px;
            width: 70%;
            max-width: 500px;
        }
    }
}
/*-----------スクロールを促すアニメーション----------*/
/*スクロールダウン全体の場所*/
.scroll{
    height: 150px;
}
.scrolldown1{
    /*描画位置※位置は適宜調整してください*/
	position:absolute;
	left:50%;
	// bottom:10px;
    /*全体の高さ*/
	height:150px;
}

/*Scrollテキストの描写*/
.scrolldown1 span{
    /*描画位置*/
	position: absolute;
    margin: 0 auto;
	left:-31px;
	top: -15px;
    /*テキストの形状*/
	color: #000;
	font-size: 1.5rem;
	letter-spacing: 0.05em;
    text-shadow: 2px 2px 3px #fff;
}

/* 線の描写 */
.scrolldown1::after{
	content: "";
    /*描画位置*/
	position: absolute;
	top: 0;
    margin-top: 30px;
    /*線の形状*/
	width: 2px;
	height: 30px;
	background: #000;
    /*線の動き1.4秒かけて動く。永遠にループ*/
	animation: pathmove 1.4s ease-in-out infinite;
	opacity:0;
}

/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove{
	0%{
		height:0;
		top:0;
		opacity: 0;
	}
	30%{
		height:30px;
		opacity: 1;
	}
	100%{
		height:0;
		top:50px;
		opacity: 0;
	}
}





/*------------------------------------HRADR------------------------------------*/
header{
    position: relative;
    top: -100px;
    width: 100%;
    height: 85px;
    background-color: rgb(255, 255, 255, 0.8);
    position: fixed;
    z-index: 999;
    @include mq($sp){
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(255, 255, 255, .8);
        border: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-100%);
        z-index: 500;
        transition: transform .3s linear;
    }

    .gnav{
        &_list {
            margin: 0 auto;
            width: 65%;
            height: 75px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            li {
                font-size: 21px;
                display: flex;
                flex-direction: column;
                align-items: center;
                font-family: "sans-serif" ;
                &:nth-of-type(1) {
                    a {
                        font-family: 'Noto Sans', sans-serif;
                        display: block;
                        padding: 0 30px 0 30px;
                        width: 100%;
                        height: 100%;
                        &::after {
                            content: '';
                            display: block;
                            width: calc(100% + 60px);
                            height: 10px;
                            border-radius: 5px;
                            margin-top: 15px;
                            transform: translateX(-30px);
                            background-color: #D31176;
                        }
                    }
                }
                &:nth-of-type(2) {
                    a {
                        font-family: 'Noto Sans', sans-serif;
                        display: block;
                        padding: 0 30px 0 30px;
                        width: 100%;
                        height: 100%;
                        &::after {
                            content: '';
                            display: block;
                            width: calc(100% + 60px);
                            height: 10px;
                            border-radius: 5px;
                            margin-top: 12px;
                            transform: translateX(-30px);
                            background-color: #348439;
                        }
                    }
                }
                &:nth-of-type(3) {
                    a {
                        font-family: 'Noto Sans', sans-serif;
                        display: block;
                        padding: 0 30px 0 30px;
                        width: 100%;
                        height: 100%;
                        &::after {
                            content: '';
                            display: block;
                            width: calc(100% + 60px);
                            height: 10px;
                            border-radius: 5px;
                            margin-top: 12px;
                            transform: translateX(-30px);
                            background-color: #E6B425;
                        }
                    }
                }
            }
        }
        @include mq($sp){
            &_list {
                width: 100%;
                height: 300px;
                display: flex;
                flex-direction: column;
                li {
                    font-size: 30px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-family: "sans-serif" ;
                    a {
                        font-family: 'Noto Sans', sans-serif;
                    }
                }
            }
        }
    }
    &.up {
            transform: translateY(0);
    }
}
/*------------------------------------MAIN------------------------------------*/
.wrapper {
    width: 1200px;
    margin: 0 auto;
    .menu, .menu-btn {
        display: none;
    }
    @include mq($sp){
        width: 90%;
        margin: 0 auto;
        .ul{
            list-style: none;
            width: 100%;
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            li {
                font-size: 30px;
                display: flex;
                flex-direction: column;
                align-items: center;
                font-family: "sans-serif";
            &:nth-of-type(1) {
                    a {
                        font-family: 'Noto Sans', sans-serif;
                        display: block;
                        padding: 0 30px 0 30px;
                        &::after {
                            content: '';
                            display: block;
                            width: calc(100% + 60px);
                            height: 10px;
                            border-radius: 5px;
                            margin-top: 15px;
                            transform: translateX(-30px);
                            background-color: #D31176;
                        }
                    }
                }
                &:nth-of-type(2) {
                    a {
                        font-family: 'Noto Sans', sans-serif;
                        display: block;
                        padding: 0 30px 0 30px;
                        &::after {
                            content: '';
                            display: block;
                            width: calc(100% + 60px);
                            height: 10px;
                            border-radius: 5px;
                            margin-top: 12px;
                            transform: translateX(-30px);
                            background-color: #348439;
                        }
                    }
                }
                &:nth-of-type(3) {
                    a {
                        font-family: 'Noto Sans', sans-serif;
                        display: block;
                        padding: 0 30px 0 30px;
                        &::after {
                            content: '';
                            display: block;
                            width: calc(100% + 60px);
                            height: 10px;
                            border-radius: 5px;
                            margin-top: 12px;
                            transform: translateX(-30px);
                            background-color: #E6B425;
                        }
                    }
                }
            }
        }
        .a{
            font-size: 30px;
            font-family: 'Noto Sans', 'Noto Sans JP',sans-serif;
            color: #000000;
            font-weight: bold;
            text-decoration: none;
        }
        .menu-btn{
            cursor: pointer;
            position: fixed;
            top: 20px;
            right: 20px;
            z-index: 2;
            width: 50px;
            height: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgb(255, 255, 255, 0.8);
            color: #fff;
        }
        .menu-btn span,
        .menu-btn::before,
        .menu-btn::after {
            content: '';
            display: block;
            height: 4px;
            width: 40px;
            background-color: $red;
            transition: transform .3s;
            /* transformプロパティにアニメーション */
        }
        .menu-btn::before{
            transform: translateY(-8px);
        }
        .menu-btn::after{
            transform: translateY(8px);
        }
        .menu-btn.close span { /* 真ん中の線は右に移動 */
        transform: translateX(100px);
        }
        .menu-btn.close::before {
        /* 線の太さ分だけ下にずらして45度回転 */
        transform: translateY(3px) rotate(45deg);
        }
        .menu-btn.close::after {
        /* 線の太さ分だけ上にずらして-45度回転 */
        transform: translateY(-3px) rotate(-45deg);
        }
        .menu {
            position: fixed;
            top: 0;
            right: 0;
            z-index: 1; /* ハンバーガーより下 */
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: rgb(255, 255, 255, 0.8);
            transform: translatey(-100vh);
            transition: transform .3s linear;
        }
        .menu.view{
            transform: translatey(0);
        }
    }

    section {
        margin-top: 250px;
        @include mq($sp) {
            margin-top: 200px;
        }

        .h1_back {
            position: relative;
            width: 340px;
            height: 100px;
            // margin-bottom: 150px;
            background-image: url(../img/heading_back_p.webp);
            background-size: 20px;
            margin: 0 auto;
            transform: translateX(50px);
            @include mq($sp) {
                position: relative;
                width: 150px;
                height: 40px;
                background-image: url(../img/heading_back_p.webp);
                background-size: 10px;
                margin: 0 auto;
                transform: translateX(30px);
                
            }
            h1 {
                position: absolute;
                top: -40px;
                left: -50px;
                width: 100%;
                height: 100%;
                background-color: $red;
                font-size: 30px;
                text-align: center;
                line-height: 100px;
                color: #fff;
                font-family: 'Noto Sans', sans-serif;
                @include mq($sp) {
                    position: absolute;
                    top: -20px;
                    left: -30px;
                    width: 100%;
                    height: 100%;
                    font-size: 24px;
                    text-align: center;
                    line-height: 40px;
                    color: #fff;
                    background-color: $red;
                    font-family: 'Noto Sans', sans-serif;
                }
            }
        }
            // &::after {
            //     position: absolute;
            //     bottom: -40px;
            //     right: -55px;
            //     content: '';
            //     display: block;
            //     width: 100%;
            //     height: 100%;
            //     background-image: url(../img/heading_back_p.webp);
            //     background-size: 10%;
            //     z-index: -1;
            //     @include mq($sp) {
            //         bottom: -30px;
            //         right: -25px;
            //         width: 95%;
            //         height: 70%;
            //     }
            // }


        /*------------------------------------ABOUT------------------------------------*/
        .about {
            width: 100%;
            margin: 0 auto;
            background-color: rgb(255, 255, 255, 0.8);
            border: $red 3px solid;
            &__area{
                width: 90%;
                margin: 60px auto 0;
                display: flex;
                padding-bottom: 120px;
                @include mq($sp) {
                    display: block;
                    padding-bottom: 80px;
                }
                .cap {
                    width: 35%;
                    font-size: 18px;
                    line-height: 1.8em;
                    margin-left: 3%;
                    // display: flex;
                    align-items: center;
                    @include mq($sp) {
                        width: 90%;
                        margin: 0 auto;
                        margin-bottom: 100px;
                    }
                    h2{
                        font-size: 21px;
                        font-weight: bold;
                        margin-bottom: 20px;
                        @include mq($sp) {
                            text-align: center;
                        }
                    }
                }    
                .greet{
                    // overflow: auto;
                    width: 45%;
                    margin-left: 15%;
                    height: 350px;
                    .tab-label {
                        position: relative;
                        color: rgb(255, 255, 255);
                        background: rgb(255, 203, 229);
                        font-weight: bold;
                        margin-bottom: -1px;
                        padding: 10px .5em;
                        cursor: pointer;
                        display: block;
                    }
                    .tab-label:before {
                        position: absolute;
                        right: 20px;
                        content: '▼';
                        margin-right: .2em;
                        display:inline-block;
                        transform:rotate(-90deg);
                    }
                    .tab-switch:checked+.tab-label:before {
                        transform:rotate(0);
                    }
                    .tab-content {
                        height: 0;
                        padding: 0 15px;
                        overflow: hidden;
                        opacity: 0;
                    }
                    /* アクティブなタブ */
                    .tab-switch:checked+.tab-label {
                        background:rgb(206, 15, 114, .9);
                    }
                    .tab-switch:checked+.tab-label+.tab-content {
                        height: auto;
                        overflow: auto;
                        margin-bottom: -1px;
                        padding: 15px;
                        opacity: 1;
                        transition: .5s;
                    }
                    /* ラジオボタン非表示 */
                    .tab-switch {
                        display: none;
                    }                    
                    // &::-webkit-scrollbar {
                    //     width: 10px;
                    //     background: #848484;
                    //     border-radius: 20px;    
                    // }
                    // &::-webkit-scrollbar-thumb {
                    //     background: #D9D9D9;
                    //     border-radius: 20px;
                    // }
                    @include mq($sp) {
                        width: 90%;
                        margin: 0 auto;
                    }
                    h2{
                        font-size: 21px;
                        font-weight: bold;
                        @include mq($sp) {
                            text-align: center;
                            font-size: 18px;
                        }
                    }
                    p {
                        overflow: auto;
                        height: 200px;
                        width: 100%;
                        margin: 0 auto 10px;
                        font-size: 18px;
                        line-height: 1.8em;
                    }
                    em{
                        font-size: 20px;
                    }
                    span {
                        font-size: 21px;
                        display: block;
                        text-align: right;
                    }
                }
            }
        }
        
        /*------------------------------------NEWS------------------------------------*/
        .news {
            width: 100%;
            margin: 0 auto;
            padding-bottom: 120px;
            background-color: rgb(255, 255, 255, 0.8);
            border: $blue 3px solid;
            .h1_back{
                background-image: url(../img/heading_back_b.webp);
            }
            @include mq($sp) {
                padding-bottom: 80px;
            }
            // box-shadow: 2px 5px 15px #1C96D4;


            h1 {
                background-color: $blue;
                // transform: translateY(-40px);

                &::after {
                    background-image: url(../img/heading_back_b.webp);
                }
            }

            &__area {
                width: 70%;
                margin: 60px auto 0;
                border-top: #000 1px solid;

                dl {
                    display: flex;
                    padding: 30px 0;
                    border-bottom: #000 1px solid;
                    @include mq($sp) {
                        margin: 0 auto;
                        font-size: 12px;
                    }
                    dt {
                        margin-left: 20px;
                        margin-right: 10px;
                        @include mq($sp) {
                            margin-left: 0;
                        }
                    }
                }
            }
        }

        /*------------------------------------CONTEST------------------------------------*/
        .contest {
            width: 100%;
            margin: 0 auto;
            background-color: rgb(255, 255, 255, 0.8);
            border: $yellow 3px solid;
            padding-bottom: 120px;
            .h1_back{
                background-image: url(../img/heading_back_y.webp);
            }
            @include mq($sp) {
                padding-bottom: 80px;
            }

            h1 {
                background-color: $yellow;

                &::after {
                    background-image: url(../img/heading_back_y.webp);
                }
            }

            &__art {
                width: 95%;
                margin: 60px auto 0;
                display: flex;
                justify-content: space-around;
                @include mq($sp) {
                    display: block;
                }
                article {
                    position: relative;
                    background-color: #fff;
                    width: 31%;
                    height: 700px;
                    
                    @include mq($sp) {
                        width: 95%;
                        height: auto;
                        padding-bottom: 10px;
                        margin: 50px auto 0;
                    }
                }
                .yellow {
                    box-shadow: 5px 5px 15px $yellow;
                    a {
                        background-color: $yellow;
                    }
                }
                .blue {
                    box-shadow: 5px 5px 15px $blue;
                    a {
                        background-color: $blue;
                    }
                }
                .red {
                    box-shadow: 5px 5px 15px $red;
                    a {
                        background-color: $red;
                    }
                }

                h2 {
                    height: 150px;
                    font-size: 21px;
                    font-weight: bold;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include mq($sp) {
                        height: 100px;
                    }
                }
                p {
                    display: block;
                    width: 95%;
                    margin: 0 auto;
                    &:nth-of-type(1) {
                        @include mq($sp) {
                            text-align: center;
                        }
                    }
                    &:nth-of-type(2) {
                        margin-top: 20px;
                        font-size: 14px;
                        @include mq($sp) {
                            width: 90%;
                        }
                    }
                    &:nth-of-type(3) {
                        color: #fff;
                        text-align: center;
                        position: absolute;
                        bottom: 70px;
                        font-size: 18px;
                        transform: translateX(10px);
                        @include mq($sp) {
                            position: static;
                            margin: 50px auto;
                            transform: translateX(0);
                        }
                        a {
                            display: block;
                            width: 200px;
                            height: 50px;
                            margin: 0 auto;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 30px;
                            @include mq($sp) {
                                width: 200px;
                            }
                        }
                    }
                }
            }
        }

        /*------------------------------------MAP------------------------------------*/
        .schedule {
            width: 100%;
            margin: 0 auto;
            background-color: rgb(255, 255, 255, 0.8);
            border: $green 3px solid;
            padding-bottom: 120px;
            .h1_back{
                background-image: url(../img/heading_back_g.webp);
            }
            @include mq($sp) {
                padding-bottom: 80px;
            }
            h1 {
                background-color: $green;
                // &::after {
                //     background-image: url(../img/heading_back_g.webp);
                // }
            }
            .time {
                text-align: center;
                margin-top: 60px;
                img {
                    width: 800px;
                    transform: translateX(10px);
                }
            }
            .map__link{
                margin-top: 100px;
                color: #fff;
                text-align: center;
                bottom: 70px;
                font-size: 18px;
                transform: translateX(10px);
                @include mq($sp) {
                    transform: translateX(0);
                    margin-top: 60px;
                }
                a {
                    background-color: $green;
                    width: 200px;
                    height: 50px;
                    margin: 0 auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 30px;
                }
            }
        }
    }
}

/*------------------------------------SPONSOR------------------------------------*/
.sponsor {
    width: 100%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255, 0.8);
    border: $red 3px solid;
    padding-bottom: 120px;
    @include mq($sp) {
        padding-bottom: 80px;
    }
    .spnseor__area {
        display: grid;
        margin-top: 60px;
        padding: 0 40px;
        font-family: "BaseFont",sans-serif;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 5px;
        @include mq($sp) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(5, 1fr);    
        }
        @include mq($sp-s) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(7, 1fr);
        }
        img {
            height: 100%;
            width: 100%;
        }
        .item01 {
            grid-column: 1/3;
            grid-row: inherit;
            @include mq($sp-s) {
                grid-column: 1/3;
                grid-row: 1/2;    
            }
        }
        .item02 {
            grid-column: 3/5;
            grid-row: inherit;
            @include mq($sp) {
                grid-column: 1/3;
                grid-row: 2/3;
            }
            @include mq($sp-s) {
                grid-column: 1/3;
                grid-row: 2/3;    
            }
        }
        .item03{
            grid-column: 5/6;
            grid-row: inherit;
            @include mq($sp) {
                grid-column: 3/4;
                grid-row: 1/2;    
            }
            @include mq($sp-s) {
                grid-column: 1/2;
                grid-row: 3/4;    
            }
        }
        .item04{
            grid-column: 1/2;
            grid-row: inherit;
            @include mq($sp) {
                grid-column: 3/4;
                grid-row: 2/3;    
            }
            @include mq($sp-s) {
                grid-column: 2/3;
                grid-row: 3/4;    
            }
        }
        .item05{
            grid-column: 2/3;
            grid-row: inherit;
            @include mq($sp) {
                grid-column: 1/2;
                grid-row: 3/4;    
            }
            @include mq($sp-s) {
                grid-column: 1/2;
                grid-row: 5/6;
            }
        }
        .item06 {
            grid-column: 3/5;
            grid-row: inherit;
            @include mq($sp) {
                grid-column: 2/4;
                grid-row: 3/4;
            }
            @include mq($sp-s) {
                grid-column: 1/3;
                grid-row: 4/5;    
            }
        } 
        .item07{
            grid-row: inherit;
            @include mq($sp) {
                grid-column: 1/2;
                grid-row: 4/5;
            }
            @include mq($sp-s) {
                grid-column: 1/2;
                grid-row: 5/6;    
            }
        }
        .item08 {
            grid-column: 1/3;
            grid-row: inherit;
            @include mq($sp) {
                grid-column: 2/4;
                grid-row: 4/5;
            }
            @include mq($sp-s) {
                grid-column: 1/3;
                grid-row: 6/7;    
            }
        }
        .item09{
            grid-column: 3/5;
            grid-row: inherit;
            @include mq($sp) {
                grid-column: 2/4;
                grid-row: 5/6;
            }
            @include mq($sp-s) {
                grid-column: 1/3;
                grid-row: 7/8;    
            }
        }
        .item010{
            grid-column: 5/6;
            grid-row: inherit;
            @include mq($sp) {
                grid-column: 3/4;
                grid-row: 5/6;
            }
            @include mq($sp-s) {
                grid-column: 2/3;
                grid-row: 5/6;    
            }
        }
    }
}
/*------------------------------------FOOTER------------------------------------*/
footer {
    width: 100%;
    height: 112px;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #525252;

    p {
        text-align: center;
        font-size: 13px;
        color: #fff;
        line-height: 24px;
        font-family: 'Noto Sans', sans-serif;
        font-family: 'Noto Sans JP', sans-serif;
    }
}


/*---------------------------------MENU ANIMETION---------------------------------*/
.menuAnime {
    animation-name: fadeInAnime;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    @include mq($sp) {
        display: none;
    }
}

.menuBackAnime {
    animation-name: fadeOutAnime;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    @include mq($sp) {
        display: none;
    }
}

@keyframes fadeInAnime {
    0% {
        top: -100px;
    }

    100% {
        top: 0px;
    }
}

@keyframes fadeOutAnime {
    0% {
        top: 0px;
    }

    100% {
        top: -100px;
    }
}

/*---------------BACKGROUND OPACITY-------------------*/
.bgLight::after{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content:'';
    z-index: -1;
    animation-name: bgAnime;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    background-color: rgba(255,255,255,.5);
}
.bgOrigin{
    animation-name: bgAnimeReverse;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

@keyframes bgAnime {
    0% {
        background-color: rgba(255,255,255,0);
        background-blend-mode: normal;
    }

    100% {
        background-color: rgba(255,255,255,.5);
        background-blend-mode: lighten;
    }
}

@keyframes bgAnimeReverse {
    0% {
        background-color: rgba(255,255,255,.5);
        background-blend-mode: lighten;
    }

    100% {
        background-color: rgba(255,255,255,0);
        background-blend-mode: normal;
    }
}




/*# sourceMappingURL=style.css.map */