/*------------------------------------BODY------------------------------------*/
body {
  background-image: url(../img/bg_pc.webp);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: "Noto Sans", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten;
}
@media screen and (max-width: 1200px) {
  body {
    background-image: url(../img/bg_sp.png);
    background-position: center;
  }
}

/*------------------------------------HRADR------------------------------------*/
header {
  position: relative;
  top: 0;
  width: 100%;
  height: 85px;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  z-index: 999;
}
header .gnav_list {
  margin: 0 auto;
  width: 65%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .gnav_list li {
  font-size: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "sans-serif";
}
header .gnav_list li:nth-of-type(1) a {
  font-family: "Noto Sans", sans-serif;
  display: block;
  padding: 0 30px 0 30px;
  width: 100%;
  height: 100%;
}
header .gnav_list li:nth-of-type(1) a::after {
  content: "";
  display: block;
  width: calc(100% + 60px);
  height: 10px;
  border-radius: 5px;
  margin-top: 15px;
  transform: translateX(-30px);
  background-color: #D31176;
}
header .gnav_list li:nth-of-type(2) a {
  font-family: "Noto Sans", sans-serif;
  display: block;
  padding: 0 30px 0 30px;
  width: 100%;
  height: 100%;
}
header .gnav_list li:nth-of-type(2) a::after {
  content: "";
  display: block;
  width: calc(100% + 60px);
  height: 10px;
  border-radius: 5px;
  margin-top: 12px;
  transform: translateX(-30px);
  background-color: #348439;
}
header .gnav_list li:nth-of-type(3) a {
  font-family: "Noto Sans", sans-serif;
  display: block;
  padding: 0 30px 0 30px;
  width: 100%;
  height: 100%;
}
header .gnav_list li:nth-of-type(3) a::after {
  content: "";
  display: block;
  width: calc(100% + 60px);
  height: 10px;
  border-radius: 5px;
  margin-top: 12px;
  transform: translateX(-30px);
  background-color: #E6B425;
}

/*------------------------------------MAIN------------------------------------*/
.wrapper {
  width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .wrapper {
    width: 100%;
    margin: 0 auto;
  }
}
.wrapper section {
  margin-top: 250px;
  margin-bottom: 150px;
  /*------------------------------------ACCESS------------------------------------*/
}
@media screen and (max-width: 1200px) {
  .wrapper section {
    margin-top: 200px;
  }
}
.wrapper section .frame-top {
  position: absolute;
  right: 0;
}
.wrapper section .frame-under {
  position: absolute;
  bottom: 0;
}
.wrapper section h1 {
  position: relative;
  width: 260px;
  height: 80px;
  font-size: 22px;
  text-align: center;
  margin: 0 auto;
  line-height: 80px;
  margin: 0 auto 70px;
  background-color: #FAC000;
  color: #fff;
  transform: translateY(-40px);
}
@media screen and (max-width: 1200px) {
  .wrapper section h1 {
    width: 180px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto 50px;
  }
}
.wrapper section h1::after {
  position: absolute;
  bottom: -40px;
  right: -55px;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../img/heading_back.png);
  z-index: -1;
}
@media screen and (max-width: 1200px) {
  .wrapper section h1::after {
    bottom: -30px;
    right: -25px;
    width: 95%;
    height: 70%;
  }
}
.wrapper section .access {
  width: 90%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
  border: #FAC000 3px solid;
}
.wrapper section .access-area {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 120px;
}
@media screen and (max-width: 1200px) {
  .wrapper section .access-area {
    display: block;
    padding-bottom: 80px;
  }
}
.wrapper section .access-area .area-left {
  width: 50%;
}
@media screen and (max-width: 1200px) {
  .wrapper section .access-area .area-left {
    width: 75%;
    text-align: center;
    margin: 0 auto;
  }
}
.wrapper section .access-area .area-left .tec-container {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1200px) {
  .wrapper section .access-area .area-left .tec-container {
    width: 100%;
  }
}
.wrapper section .access-area .area-left .tec-container img {
  width: 150px;
  margin-right: 15px;
}
@media screen and (max-width: 1200px) {
  .wrapper section .access-area .area-left .tec-container img {
    width: 100px;
  }
}
.wrapper section .access-area .area-left .tec-container span {
  font-size: 36px;
  color: #0F1F58;
}
@media screen and (max-width: 1200px) {
  .wrapper section .access-area .area-left .tec-container span {
    font-size: min(4.5vw, 24px);
  }
}
.wrapper section .access-area .area-left .tec-container .tec-name-ruby {
  font-size: 16px;
}
@media screen and (max-width: 1200px) {
  .wrapper section .access-area .area-left .tec-container .tec-name-ruby {
    font-size: 2vw;
    font-size: min(2vw, 12px);
  }
}
.wrapper section .access-area .area-left p {
  width: 95%;
  font-family: "Noto Sans JP", sans-serif;
  margin: 50px 0 100px;
  line-height: 36px;
  font-size: 20px;
}
@media screen and (max-width: 1200px) {
  .wrapper section .access-area .area-left p {
    width: 100%;
    margin: 15px auto 75px;
    font-size: min(3.5vw, 18px);
    line-height: 5vh;
  }
}
.wrapper section .access-area .area-right {
  width: 45%;
}
@media screen and (max-width: 1200px) {
  .wrapper section .access-area .area-right {
    height: 500px;
    width: 100%;
    margin: 0 auto;
  }
}

/*------------------------------------FOOTER------------------------------------*/
footer {
  width: 100%;
  height: 112px;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #525252;
}
footer p {
  text-align: center;
  font-size: 13px;
  color: #fff;
  line-height: 24px;
  font-family: "Noto Sans", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
}/*# sourceMappingURL=style.css.map */